.headerContainer {
  width: 100%;
  height: 100vh;
  padding: 2em 2em;
  font-family: 'Raleway', sans-serif;;
  font-size: 4.5em;
  text-align: center;
  background-color: #326786;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerContainer a {
  color: white;
}

.headerTitle {
  font-family: 'Cookie', cursive;
  font-size: 4em;
  margin: -0.2em;
}

.headerSubtitle {
  font-size: 0.75em;
  font-weight: light;
}

.buttonContainer {
  margin: 2em 0;
}

.headerButton {
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.2em;
  margin: 0.2em;
  width: 80%;
  font-size: 48px;
  background-color: transparent;
}

.headerButton:hover, .headerButton:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.descriptionContainer {
  width: 100%;
  min-height: 100vh;
  padding: 2em 1.6em;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  text-align: center;
  background-color:whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descriptionTitle {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
}

.descriptionContent {
  margin: 1em 0;
  padding: 0 1em;
  font-size: 1.5em;
}

.descriptionButton {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.2em;
  margin: 0.2em;
  width: 80%;
  font-size: 48px;
  background-color: transparent;
}

.descriptionButton:hover, .descriptionButton:active {
  background-color: rgba(255, 255, 255, 0.5);
}
