.c-landing {
  min-height: 100vh;
}

.c-landing .c-hero {
  width: 100%;
  min-height: inherit;
  font-size: 2rem;
  text-align: center;
  color: white;
  background-color: #326786;
}

.c-landing .l-hero__contents {
  width: 80%;
  max-width: 600px;
}

.c-landing .c-hero__title {
  font-size: 8rem;
}

.c-landing .c-hero__tagline {
  font-size: 0.8em
}

.c-landing .l-hero__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px 0;
}

.c-landing .c-hero__button {
  width: 80%;
  margin: 2px 0;
  font-size: 0.75em;
}

