.c-book-listing {
  width: 100%;
  max-width: 600px;
  padding: 1em;
  border-top: 1px solid lightgrey;
  font-size: 1.2rem;
  text-align: left;
  background-color: whitesmoke;
}

.c-book-listing .l-book-listing__header {
  justify-content: space-between;
  align-content: space-between;
}

.c-book-listing .l-book-listing__info {
  flex-grow: 1;
  width: 0;
  padding: 0 10px;
}

.c-book-listing .c-book-listing__title {
  width: 100%;
  font-size: 1.25em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.c-book-listing .c-book-listing__author {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-book-listing .c-book-listing__description {
  margin-top: 1em;
}

.c-book-listing__genre-placeholder--fiction {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: lightcoral;
  margin: auto;
  font-size: 0.8em;
  text-align: center;
  color: white;
}

.c-book-listing__genre-placeholder--non-fiction {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: lightsteelblue;
  margin: auto;
  font-size: 0.8em;
  text-align: center;
  color: white;
}

.c-book-listing__checkbox {
  width: 15px;
  height: 15px;
}