.c-trade-page {
  min-height: calc(100vh - 30px);
  max-width: 600px;
  margin: auto;
  padding: 1.5em 0;
  font-size: 1.5rem;
  background-color: whitesmoke;
}

.c-trade-page__title {
  padding: 0 2em;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}

.c-trade-page .c-book-listing {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.c-trade-page .c-button {
  width: 50%;
  margin: 15px 15px 0 15px;
  background-color: whitesmoke;
}

.c-trade-page .c-trade-page__error {
  height: 1em;
  margin-top: 10px;
}

.c-trade-page .c-trade-page__trade-status {
  width: 50%;
  margin-top: 10px;
  font-size: 1.25em;
  text-align: center;
}

.c-trade-page .l-trade-page__buttons {
  justify-content: space-between;
  align-items: space-between;
  width: 80%;
}

.c-trade-page .c-trade-chat {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.c-trade-page .c-trade-chat__placeholder {
  margin: 12px;
  text-align: center;
  font-weight: 300;
}

.c-trade-page .c-trade-chat__messages {
  padding: 5px 10px;
}

.c-trade-page .l-trade-chat__messages {
  align-items: left;
  margin-bottom: 2px;
}

.c-trade-page .c-trade-chat__sender {
  font-size: 0.9em;
  font-weight: bolder;
}

.c-trade-page .c-trade-chat__content {
  font-weight: 300;
  word-break: break-all;
}

.c-trade-page .c-form__input {
  border-left: none;
  border-bottom: none;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 36px;
  padding: 0 10px;
  flex-grow: 1;
}

.c-trade-page .c-form__input::placeholder {
  font-weight: 300;
}

.c-trade-page .c-trade-chat__input-button {
  border: none;
  border-top: 1px solid #ccc;
  border-radius: 0;
  width: 50px;
  height: 36px;
  margin: 0;
  background-color: lightgrey;
}
