.c-new-book-page {
  min-height: calc(100vh - 30px);
  max-width: 600px;
  margin: auto;
  padding: 1.5em 0;
  font-size: 1.5rem;
  background-color: whitesmoke;
}

.c-new-book-page__title {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}

.c-new-book-page .c-button {
  width: 50%;
  margin: 15px 0;
  background-color: whitesmoke;
}