.c-login {
  min-height: 100vh;
  background-color: #326786;
}

.c-login .l-login__contents {
  width: 85%;
  max-width: 600px;
  min-height: inherit;
  margin: auto;
}

.c-login .c-login-form {
  padding: 2em 0.5em;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.c-login .c-login-form__title {
  font-size: 8rem;
}

.c-login .l-login-form__inputs {
  width: 80%;
  margin-bottom: 15px;
  margin-top: 20px;
}

.c-login .c-login-form__input {
  width: 100%;
  padding: 0.2em 0.5em;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 0.75em;
  font-weight: 300;
  color: gray;
}

.c-login .c-login-form__button {
  width: 50%;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
  font-size: 0.75em;
  color: white;
  background-color: transparent;
}