.c-register-page {
  min-height: calc(100vh - 30px);
  max-width: 600px;
  margin: auto;
  padding: 2em 0;
  font-size: 1.5rem;
  background-color: whitesmoke;
}

.c-register-page__title {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}

.c-register-form {
  padding: 1.5em 0;
}

.l-register-form__input-group {
  width: 80%;
  margin: 5px 0;
}

.c-register-form label {
  width: 100%;
}

.c-register-form__form-input {
  width: 100%;
}

.c-register-form .c-button {
  width: 50%;
  margin: 15px 0;
  background-color: whitesmoke;
}
